h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: black;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
}
.image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50px;
}
#profile{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
    overflow: hidden;
}
nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}
header{
    background-color: blueviolet;
    height: 50px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-left: 10px;
    color: black;
}
a{
    color: rgb(59, 21, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background-image: url('assets/wallpaper.jpg');
    background-size: cover;
}
#hero{
    padding-left: 20%;
    padding-right: 20%;
}
#about{
    background-color: azure;
    text-align: left;
}
#contact{
    background-color: azure;
    text-align: left;
}
#projects{
    background-color: azure;
}
footer{
    text-align: left;
}