h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    color: black;
}
h2{
    text-align: left;
    color: black;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: left;
    color: black;
    padding: 20px;
}
.image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 250px;
}
#profile{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
    overflow: hidden;
}
nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #80f1f6;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
}
nav a{
    margin: 0 15px;
    font-weight: bold;
    font-size: 18px;
}
header{
    background-color: blueviolet;
    height: 50px;
    text-align: center;
    justify-content: center;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-left: 10px;
    color: black;
}
a{
    color: rgb(59, 21, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
body{
    padding: 20px;
    background-color:#9bf5fa;
}
#hero{
    padding: 20px;
    background-color: #9bf5fa;
}
#about{
    background-color:#9bf5fa;
    text-align: left;
    padding: 20px;
}
#contact{
    background-color: #9bf5fa;
    text-align: center;
    padding: 20px;
    max-width:800px;
    margin:auto;
}
#projects{
    background-color: #9bf5fa;
    padding: 20px;
    text-align: left;
}
footer{
    text-align: left;
    background-color:blueviolet;
    color: white;
    margin-top: auto;
    padding: 5px;
}
#contact-form{
    background-color:#9bf5fa;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
form{
    background-color:#9bf5fa;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    align-items: center;
    margin: auto;
    gap: 10px;
    width: 60%;
    max-width: 600px;
    
}
input,textarea{
    width: 80%;
    max-width: 400px;
    padding:10px;
    border-radius: 5px;
}
button{
    background-color: blueviolet;
    color: white;
    padding: 20px;
    border-radius: 2px;

}
.project-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
}

.project-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
