h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: azure;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    color: azure;
}
section{
    background-color: rgb(12, 4, 4);
}
#profile{
    justify-content: center;
    background: rgb(128, 42, 128);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
    
}
nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
    font-size: 20px;
    text-align: center;
}
#rugby{
    text-align: center;
}